dist/
node_modules/
.env
!.env.example

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Air (live reload)
tmp/

# Logs
*.log

bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
/.idea/

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
tfplan
crash.log
crash.*.log
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Personal notes (not for commit)
/infra/Personal_notes.md
